<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="skill">
                <div class="name">
                    Skills
                </div>
            </div>
            <div class="project">
                <div class="name">
                    Projects
                </div>
            </div>
            <div class="contact">
                <div class="name">Contact</div>
            </div>
        </div>

        <div class="presentation">
            <div class="title">Hello, I'm <span class="me">&nbsp;Baptiste Deruelle </span>.</div>
            <div class="description">I'm a full-stack web developer.</div>
            <div class="button">
                <button>View my works</button>
            </div>

        </div>
    </div>
    <div class="skills">
        <div class="titleSkills">Skills</div>
        <div class="globalSkill">
            <div class="responsive">
                <div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                <div class="title">Responsive</div>
                <div class="description">Layouts will work on any device.</div>
            </div>
            <div class="intuitive">
                <div class="icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                <div class="title">Intuitive</div>
                <div class="description">Strong preference for easy to use, intuitive UX/UI.</div>
            </div>
        </div>
        <div class="skillsPannel">
            <div class="skill">
                <div class="title">HTML5</div>
                <div class="navbar">
                    <div class="progress html">

                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="title">CSS3</div>
                <div class="navbar">
                    <div class="progress css">

                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="title">Javascript</div>
                <div class="navbar">
                    <div class="progress javascript">

                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="title">Angular</div>
                <div class="navbar">
                    <div class="progress angular">

                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="title">Node.js</div>
                <div class="navbar">
                    <div class="progress node">

                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="title">UI Design</div>
                <div class="navbar">
                    <div class="progress ui">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="projects">
        <div class="titleProjects">My Projects</div>
        <div class="projectContainer">
            <div class="project">
                <div class="titleProject">Reims Esport</div>
                <div class="link">https://www.reimsesport.fr</div>
                <div class="descriptionProject">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="stacks">
                    <span class="stack">Angular 2</span>
                    <span class="stack">Node.js</span>
                    <span class="stack">MongoDB</span>
                    <span class="stack">Typescript</span>
                </div>
                <div class="imagesProject">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportPC.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportMobile.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportPC.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportMobile.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportPC.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportMobile.png)"></div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportPC.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportMobile.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportPC.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportMobile.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportPC.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/ReimsEsportMobile.png)"></div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="project">
                <div class="titleProject">Locavert</div>
                <div class="link">https://www.reimsesport.fr</div>
                <div class="descriptionProject">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="imagesProject last">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                            <div class="swiper-slide" style="background-image:url(../../assets/images/locavert.png)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactContainer">
        <div class="titleContact">Contact</div>
        <div class="contact">
            <div class="text">Have a question or want to work together?</div>
            <div class="news"></div>

        </div>
    </div>
</div>